<div class="card mb-3 border-2 lockable-container" data-id="{{data.id}}">
  <!-- Force image aspect ratio -->
  <img class="card-img-top highres {{#if _options.isLockable}}lockable{{/if}}"
    style="aspect-ratio: {{data.options.width}}/{{data.options.height}}">
  <!-- Original image before highres fix -->
  <img class="card-img-top original {{#if _options.isLockable}}lockable{{/if}}"
    style="aspect-ratio: {{data.options.width}}/{{data.options.height}};">
  <div class="card-body">
    <div class="d-flex flex-wrap justify-content-between">
      <div class="py-2">#{{_options.prompt.orderIndex}}</div>
      <div class="py-2">{{data.seed}}</div>
      <div class="py-2">{{data.options.width}}&nbsp;x&nbsp;{{data.options.height}}&nbsp;px</div>
      <div>
        <!-- Buttons for selecting images -->
        <div class="btn-group" role="group" aria-label="Select display mode">
          <button ref="highres" type="button" class="btn btn-outline-secondary">
            <i class="bi bi-image"></i>
          </button>
          <button ref="normal" type="button" class="btn btn-outline-secondary">
            <i class="bi bi-image-alt"></i>
          </button>
          <button ref="both" type="button" class="btn btn-outline-secondary">
            <i class="bi bi-images"></i>
          </button>
        </div>
        <!-- Buttons for actions on image -->
        <div class="btn-group">
          <button ref="featured" type="button" class="btn btn-outline-secondary" title="Use as featured image">
            <i class="bi bi-image"></i>
          </button>
          <button ref="delete" type="button" class="btn btn-outline-danger" title="Delete image">
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </div>
    </div>
    <p class="card-text pt-2">
      <i class="bi bi-plus-square"></i>&nbsp;{{_options.prompt.prompt}}<br>
      <i class="bi bi-dash-square"></i>&nbsp;<i>{{_options.prompt.negative_prompt}}</i>
    </p>

    <!-- A series of button groups -->
  </div>
</div>