<div class="card mb-3 border-3 {{#if isAccepted}}border-success{{/if}} {{#if isRejected}}border-danger{{/if}}"
  data-id="{{data.id}}">
  <!-- Force image aspect ratio -->
  <div class="card-img-top w-100 lockable-container"
    style="position: relative; aspect-ratio: {{_options.prompt.width}}/{{_options.prompt.height}};">
    <!-- Force image aspect ratio -->
    <img class="card-img-top {{#if _options.isLockable}}lockable{{/if}}"
      style="position: absolute; top: 0; left: 0; aspect-ratio: {{_options.prompt.width}}/{{_options.prompt.height}}"
      alt="Generated picture">
    <!-- Color overlay for touch response -->
    <div
      style="position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-color: rgba(255,0,0, 0); pointer-events: none;">
    </div>
    <div class="prompt d-none"
      style="position: absolute; padding: 0.5em; top: 0; left: 0; height: 100%; width: 100%; background-color: rgba(0,0,0, 0.4); pointer-events: none;">
      <b>Prompt&nbsp;:</b> {{_options.prompt.prompt}}<br>
      <b>Negative prompt&nbsp;:</b> <i>{{_options.prompt.negative_prompt}}</i><br>
      <b>Size&nbsp;:</b> <i>{{_options.prompt.width}}&nbsp;x&nbsp;{{_options.prompt.height}} px</i><br>
      <b>Seed&nbsp;:</b> <i>{{data.seed}}</i><br>
    </div>
  </div>
  <div class="card-footer p-0">
    <div class="btn-group btn-group-footer dropup" role="group" aria-label="Select display mode" style="width: 100%;">
      <button ref="reject" type="button" class="btn btn-danger form-control" title="Reject">
        <i class="bi bi-x-lg"></i>
      </button>
      <button ref="accept" type="button" class="btn btn-success form-control" title="Accept">
        <i class="bi bi-check-lg"></i>
      </button>
      <button ref="seed" type="button" class="btn btn-secondary form-control" title="Toggle preferred seed">
        <i class="bi bi-heart{{#if _options.isPreferredSeed}}-fill text-danger{{/if}}"></i>
      </button>
      <button type="button" class="btn btn-secondary dropdown-toggle form-control" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="bi bi-star-half text-warning"></i>
        <i class="bi bi-{{#if data.score}}{{data.score}}{{else}}slash{{/if}}-square"></i>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a ref="clone" class="dropdown-item" href="#" title="Clone from this picture (will set seed)">
            <i class="bi bi-clipboard"></i>&nbsp;Clone</button>
          </a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>
          <a ref="star-0" class="dropdown-item" href="#">
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
          </a>
        </li>
        <li>
          <a ref="star-1" class="dropdown-item" href="#">
            <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
          </a>
        </li>
        <li>
          <a ref="star-2" class="dropdown-item" href="#">
            <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
          </a>
        </li>
        <li>
          <a ref="star-3" class="dropdown-item" href="#">
            <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star"></i>
          </a>
        </li>
        <li>
          <a ref="star-4" class="dropdown-item" href="#">
            <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star-fill text-warning"></i>
            <i class="bi bi-star-fill text-warning"></i>
          </a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>
          <a ref="featured" class="dropdown-item" href="#" title="Set as featured image">
            <i class="bi bi-image"></i>&nbsp;Feature img.</button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>