<div class="card mb-3">
  {{#each data._attachments}}
  <img class="card-img-top" src="data:image/png;base64, {{data}}" alt="" title="">
  {{/each}}
  <div class="card-body">
    <!-- <h5 class="card-title" style="overflow: hidden;">{{_id}}</h5> -->
    <div class="card-text pb-2">
      <div class="d-flex justify-content-between">
        <div>
          {{#if prompt}}
          <span title="{{prompt.prompt}} // {{prompt.negative_prompt}}">#{{prompt.index}}</span>
          {{#if prompt.active}}
          <i class="bi bi-check-lg text-success"></i>
          {{else}}
          <i class="bi bi-x-lg text-danger"></i>
          {{/if}}
          {{else}}
          <span title="{{data.options.prompt}} // {{data.options.negative_prompt}}">#?</span>
          {{/if}}
        </div>
        <div>
          <a href="javascript: void(0);">
            <span class="seed">{{data.options.seed}}</span>
            <i class="bi bi-heart"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="row g-1">
      <div class="col">
        <button ref="reject" type="button" class="btn btn-danger form-control"><i class="bi bi-x-lg"></i></button>
      </div>
      <div class="col">
        <button ref="accept" type="button" class="btn btn-success form-control"><i class="bi bi-check-lg"></i></button>
      </div>
      <!-- <div class="col">
        <button type="button" class="btn btn-primary form-control"><i class="bi bi-heart"></i></button>
      </div> -->
    </div>
  </div>
</div>