<div class="card mb-3">
  <div class="card-body">
    <div class="card-text pb-2">
      #{{index}}
      {{#if active}}
      <i class="bi bi-check-lg text-success"></i>
      {{else}}
      <i class="bi bi-x-lg text-danger"></i>
      {{/if}}
    </div>
    <div class="card-text pb-2">
      <b>Prompt&nbsp;: </b>{{prompt}}<br>
      <b>Negative&nbsp;: </b>{{negative_prompt}}
    </div>
    <div class="row g-1">
      <div class="col">
        <button type="button" class="btn btn-outline-danger form-control"><i class="bi bi-x-lg"></i></button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-outline-success form-control"><i class="bi bi-check-lg"></i></button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-outline-primary form-control"><i class="bi bi-heart"></i></button>
      </div>
    </div>
  </div>
</div>