<div class="card mb-3">
  <div class="card-body">
    <div class="card-text pb-2">
      <b>#{{data.orderIndex}}</b>
      <code>{{model.displayName}}</code>
      <br>
      <b>Prompt&nbsp;: </b>
      <a class="text-decoration-none" data-bs-toggle="collapse" href="#promptDiff_{{this.data.id}}">
        <span class="text-danger">-{{promptRemovedCount}}</span>
        <span class="text-success">+{{promptAddedCount}}</span>
      </a>
      <b>, Negative&nbsp;: </b>
      <a class="text-decoration-none" data-bs-toggle="collapse" href="#negativePromptDiff_{{this.data.id}}">
        <span class="text-danger">-{{negativePromptRemovedCount}}</span>
        <span class="text-success">+{{negativePromptAddedCount}}</span>
      </a>
      <div class="collapse" id="promptDiff_{{this.data.id}}">
        <b>Prompt&nbsp;: </b>{{{promptDiff}}}
      </div>
      <div class="collapse" id="negativePromptDiff_{{this.data.id}}">
        <b>Negative&nbsp;: </b>{{{negativePromptDiff}}}
      </div>
    </div>
    <div class="row g-1">
      <div class="col">
        <div class="btn-group w-100">
          <button type="button" class="btn btn-secondary form-control" data-count="5"></button>
          <button type="button" class="btn btn-secondary form-control" data-count="10"></button>
          <button type="button" class="btn btn-secondary form-control" data-count="50"></button>
          <button ref="addPreferredButton" type="button" class="btn btn-secondary form-control">
            <i class="bi bi-heart-fill text-danger-emphasis"></i>
          </button>
        </div>
      </div>
      <div class="col">
        <button ref="clone" type="button" class="btn btn-primary form-control"><i class="bi bi-clipboard"></i></button>
      </div>
      <div class="col">
        <div class="dropdown">
          <button class="btn btn-secondary form-control" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-three-dots"></i>
          </button>
          <ul class="dropdown-menu">
            <!-- Delete prompt and its images -->
            <li><a ref="delete" class="dropdown-item" href="javascript: void(0)"><i class="bi bi-trash"></i>&nbsp;Delete
                prompt</a></li>
            <!-- Move prompt -->
            <li><a ref="move" class="dropdown-item" href="javascript: void(0)"><i
                  class="bi bi-box-arrow-up-right"></i>&nbsp;Move to another project...</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <div class="progress-stacked">
          {{#if errorCount}}
          <div class="progress pending" role="progressbar" style="width: {{errorPercent}}%">
            <div class="progress-bar bg-dark text-light">{{errorCount}}</div>
          </div>
          {{/if}}
          {{#if pendingCount}}
          <div class="progress pending" role="progressbar" style="width: {{pendingPercent}}%">
            <div class="progress-bar bg-light text-dark">{{pendingCount}}</div>
          </div>
          {{/if}}
          {{#if rejectedCount}}
          <div class="progress rejected" role="progressbar" style="width: {{rejectedPercent}}%">
            <div class="progress-bar bg-danger">{{rejectedCount}}</div>
          </div>
          {{/if}}
          {{#if doneCount}}
          <div class="progress done" role="progressbar" style="width: {{donePercent}}%">
            <div class="progress-bar bg-secondary">{{doneCount}}</div>
          </div>
          {{/if}}
          {{#if acceptedCount}}
          <div class="progress accepted" role="progressbar" style="width: {{acceptedPercent}}%">
            <div class="progress-bar bg-success">{{acceptedCount}}</div>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>