<div class="card mb-3">
  <div class="card-body">
    <div class="card-text pb-2">
      #{{data.orderIndex}}
      {{#if data.active}}
      <i class="bi bi-play text-success"></i>
      {{else}}
      <i class="bi bi-stop text-danger"></i>
      {{/if}}
    </div>
    <div class="card-text pb-2">
      <b>Prompt&nbsp;: </b>{{data.prompt}}<br>
      <b>Negative&nbsp;: </b>{{data.negative_prompt}}<br>
      <b>Buffer size&nbsp;: </b>{{data.bufferSize}}, <b>Target&nbsp;: </b>{{data.acceptedTarget}}
    </div>
    <div class="row g-1">
      <div class="col">
        {{#if data.active}}
        <button ref="reject" type="button" class="btn btn-danger form-control"><i class="bi bi-stop"></i></button>
        {{else}}
        <button ref="accept" type="button" class="btn btn-success form-control"><i class="bi bi-play"></i></button>
        {{/if}}
      </div>
      {{#if _options.clone}}
      <div class="col">
        <button ref="clone" type="button" class="btn btn-primary form-control"><i class="bi bi-clipboard"></i></button>
      </div>
      {{/if}}
    </div>
  </div>
</div>