<div class="card mb-3">
    <div class="card-body">
        <div class="card-text pb-2">
            <span style="font-size: 200%;">
                <i class="bi bi-star{{#if star1}}-fill text-warning{{/if}}"></i>
                <i class="bi bi-star{{#if star2}}-fill text-warning{{/if}}"></i>
                <i class="bi bi-star{{#if star3}}-fill text-warning{{/if}}"></i>
                <i class="bi bi-star{{#if star4}}-fill text-warning{{/if}}"></i>
            </span> - {{data.picturesCount}} picture(s)
        </div>
    </div>
</div>