<div class="container">
    <div class="row mt-2">
        <h3>ComfyUI</h3>
    </div>
    <div class="row mt-2">
        <div class="col" id="hostsDiv">
            <div id="noHostDiv" class="text-secondary">No ComfyUI server configured</div>
        </div>
    </div>
    <div class="row mt-2">
        <h4>Log</h4>
        <div class="col">
            <div class="card bg-black text-secondary">
                <div class="card-body" style="height: 30em; overflow-y: scroll;" id="logDiv">
                    <pre id="logPre" class="mb-0"></pre>
                </div>
            </div>
        </div>
    </div>
</div>
