<div class="container">
    <div class="row">
        <div class="col-md-6 mt-2">
            <!-- Project creation form -->
            <label for="projectNameInput" class="form-label">Name</label>
            <input id="projectNameInput" class="form-control"></input>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col mt-2">
                    <label for="widthInput" class="form-label">Width</label>
                    <div class="input-group">
                        <input id="widthInput" type="number" class="form-control" min="0" value="512"></input>
                        <span class="input-group-text">px</span>
                    </div>
                </div>
                <div class="col mt-2">
                    <label for="heightInput" class="form-label">Height</label>
                    <div class="input-group">
                        <input id="heightInput" type="number" class="form-control" min="0" value="512"></input>
                        <span class="input-group-text">px</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mt-2">
                    <label for="scaleInput" class="form-label">Highres scale</label>
                    <input id="scaleInput" type="number" class="form-control" min="1" value="2" step="0.1"></input>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md mt-3">
            <button ref="updateButton" type="button" class="btn btn-primary form-control">
                <i class="bi bi-save"></i>&nbsp;Update project
            </button>
        </div>
        <div class="col-md mt-3">
            <button ref="archiveButton" type="button" class="btn btn-info form-control">
                <i class="bi bi-archive"></i>&nbsp;Archive project
            </button>
        </div>
        <div class="col-md mt-3">
            <button ref="deleteButton" type="button" class="btn btn-danger form-control">
                <i class="bi bi-trash"></i>&nbsp;Delete project
            </button>
        </div>
    </div>
</div>