<div class="container-fluid h-100 d-flex flex-column">
    <!-- Filter -->
    <div class="row">
        <div class="col mt-3">
            <div class="input-group">
                <select id="picturesFilterSelect" class="form-control">
                    <option value="done" selected>Pictures to evaluate</option>
                    <option value="accept">Pictures accepted</option>
                    <option value="reject">Pictures rejected</option>
                    <option value="preferred">Pictures with preferred seeds</option>
                    <option value="all">All pictures</option>
                </select>
                <button ref="zipButton" type="button" class="btn btn-primary">
                    <i class="bi bi-file-zip"></i> <span class="d-none d-lg-inline">
                        Download zip
                    </span>
                </button>
                <button ref="addPromptButton" type="button" class="btn btn-primary">
                    <i class="bi bi-plus"></i> <span class="d-none d-lg-inline">
                        New prompt...
                    </span>
                </button>
            </div>
        </div>
    </div>

    <!-- New prompt panel, hidden by default -->
    <div id="promptCard" class="row d-none">
        <div class="col">
            <div class="card border-light mt-2" tabindex="-1">
                <div class="card-header">
                    New prompt
                    <button ref="closePromptButton" type="button" class="btn-close float-end"
                        aria-label="Close"></button>
                </div>
                <div class="card-body">
                    <editor-prompt id="promptEditor"></editor-prompt>
                </div>
            </div>
        </div>
    </div>

    <!-- Images -->
    <div id="picturesDiv" class="row flex-grow-1 mt-3" style="overflow-y: auto;">
    </div>
</div>