<div class="container-fluid h-100 d-flex flex-column">
    <!-- Images -->
    <div class="row">
        <div class="col">
            <div class="input-group">
                <select id="picturesFilterSelect" class="form-control">
                    <option value="done" selected>Pictures to evaluate</option>
                    <option value="accept">Pictures accepted</option>
                    <option value="reject">Pictures rejected</option>
                </select>
                <button id="refreshButton" type="button" class="btn btn-secondary">
                    <i class="bi bi-arrow-repeat"></i> <span class="d-none d-lg-inline">
                        Refresh images
                    </span>
                </button>
                <button id="zipButton" type="button" class="btn btn-primary">
                    <i class="bi bi-file-zip"></i> <span class="d-none d-lg-inline">
                        Download zip
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div id="picturesDiv" class="row flex-grow-1 mt-3" style="overflow-y: auto;">
    </div>
</div>