<div class="container">
    <div class="row">
        <div class="col">
            <!-- Project creation form -->
            <div class="input-group">
                <input id="projectNameInput" class="form-control" placeholder="New project"></input>
                <button ref="projectNewButton" type="button" class="btn btn-primary">
                    <i class="bi bi-plus"></i> <span class="d-none d-lg-inline">New</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col">
            <div class="list-group">
                {{#each projects}}
                <a href="javascript: void(0);" class="list-group-item list-group-item-action" data-project-id="{{id}}">{{name}}</li>
                {{/each}}
            </div>
        </div>
    </div>
</div>