<div class="container">
    <div class="row mt-2">
        <!-- Project creation form -->
        <div class="col-sm-12">
            <div class="input-group">
                <input id="projectNameInput" class="form-control" placeholder="Search or create a project"></input>
                <button ref="projectNewButton" type="button" class="btn btn-primary">
                    <i class="bi bi-plus"></i> New project
                </button>
            </div>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col">
            <h3>Active projects</h3>
        </div>
        <div class="projectList" id="projectsPinnedDiv">
            <!-- Placeholder for active projects -->
        </div>
    </div>
    <div class="row pt-3">
        <div class="col">
            <h3>Other projects</h3>
        </div>
        <div class="projectList" id="projectsActiveDiv">
            <!-- Placeholder for active projects -->
        </div>
        <div class="projectList" id="projectsArchivedDiv">
            <!-- Placeholder for archived projects -->
        </div>
    </div>
</div>