<div class="container">
    <div class="row">
        <div class="col pt-3">
            <!-- Project creation form -->
            <label for="settingsModelSelect" class="form-label">Model</label>
            <select id="settingsModelSelect" class="form-control"></select>
        </div>
    </div>
    <div class="row">
        <div class="col pt-3">
            <button ref="vacuumButton" class="btn btn-primary form-control"><i class="bi bi-eraser"></i>&nbsp;Vacuum</button>
            <div class="form-text">
                Will clean up the database. 
                Won't delete nothing but will make the database smaller.
            </div>
        </div>
        <div class="col pt-3">
            <button ref="fixHighresButton" class="btn btn-primary form-control"><i class="bi bi-eraser"></i>&nbsp;Fix Highres</button>
            <div class="form-text">
                Will fix pictures that have an invalid highres attachment id. 
                Use this if pictures fail to load in gallery page.
            </div>
        </div>
    </div>
</div>