<div class="flex-grow-1 picture-container" style="position: relative;">
    <img id="pictureImg" class="img-fluid" style="max-height: 100%;">
</div>
<div class="d-flex preview-container">
    <div id="star-1" class="preview">
        <span class="text-warning">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
        </span>
        <img class="img-fluid" style="max-height: 100%;">
    </div>
    <div id="star-2" class="preview">
        <span class="text-warning">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
        </span>
        <img class="img-fluid" style="max-height: 100%;">
    </div>
    <div id="star-3" class="preview">
        <span class="text-warning">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>
        </span>
        <img class="img-fluid" style="max-height: 100%;">
    </div>
    <div id="star-4" class="preview">
        <span class="text-warning">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
        </span>
        <img class="img-fluid" style="max-height: 100%;">
    </div>
</div>